@model List<Blogy.EntityLayer.Concrete.Article>
@{
    ViewData["Title"] = "MyBlogList";
    Layout = "~/Areas/Writer/Views/WriterLayout/Index.cshtml";
    int count = 0;
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Size Ait Bloglar </h3>
       
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Bloglar</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Yazar Blogları </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Blog Listesi</h4>
                    <p class="card-description">
                        Aşagıdaki tablodan size ait blogları görüntüleyebilir,uzerinde işlem yapabilirsiniz. 
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Blog Baslıgı.</th>
                                    <th>Tarih</th>
                                    <th>Kategori</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                    <th>Blog Yorumları</th>
                                </tr>
                            </thead>
                            <tbody>
                             
                                    @foreach (var item in Model)
                                    {
                                    count++;
                                    <tr>
                                            <td>@count</td>
                                            @* <td>@item.ArticleId</td> *@
                                            <td>@item.Title</td>
                                            <td>@item.CreatedDate</td>
                                            <td>@item.CategoryId</td>
                                            <td><a href="/Writer/Blog/DeleteBlog/@item.ArticleId" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Writer/Blog/EditBlog/@item.ArticleId" class="btn btn-success">Güncelle</a></td>
                                        <td><a href="/Writer/Blog/BlogArticleComment/@item.ArticleId" class="btn btn-warning">Yorumlar</a></td>
                                        </tr>
                                    }


                                

                            </tbody>
                        </table>
                        <a href="/Writer/Blog/CreateBlog" class="btn btn-primary">Yeni Blog Girişi</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

