@model Article

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@Model.CoverImageUrl');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-6">
                <div class="post-entry text-center">
                    <h1 class="mb-4"></h1>
                    <h1 class="mb-4">@Model.Title</h1>
                    <div class="post-meta align-items-center text-center">
                        <figure class="author-figure mb-0 me-3 d-inline-block"><img src="@Model.Writer.ImageUrl" alt="Image" class="img-fluid"></figure>
                        <span class="d-inline-block mt-1">@Model.Writer.Name</span>
                        <span>@Model.CreatedDate.ToShortDateString()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>